<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    <staticContent>        
        <remove fileExtension=".data.unityweb" />
        <mimeMap fileExtension=".data.unityweb" mimeType="application/octet-stream" />
        <remove fileExtension=".wasm.unityweb" />
        <mimeMap fileExtension=".wasm.unityweb" mimeType="application/wasm" />
        <remove fileExtension=".js.unityweb" />
        <mimeMap fileExtension=".js.unityweb" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".assetbundle" mimeType="application/octet-stream" />
       
    </staticContent>
    </system.webServer>
</configuration>